<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Playfair+Display:wght@500;600;700&display=swap" rel="stylesheet">

<header class="top-bar">
    <div class="title">
        <h1>AMY MEARS</h1>
    </div>

    <nav class="card-menu">

        <a class="card", href="gallery.html">
            <span>Gallery</span>
        </a>

        <a class="card" href="about.html">
            <span>About</span>
        </a>

        <a class="card", href="contact.html">
            <span>Contact</span>
        </a>

    </nav>
</header>